
#we suppose torch>2 and torchvision are already installed
hatchling
hatch_vcs
xformers
ninja
jaxtyping
rich                     
typing_extensions                     
trimesh                     
einops                     
huggingface_hub                     
imageio                      
fastapi                     
requests                     
typer          
pillow           
omegaconf                     
e3nn          
triton           
moviepy                     
plyfile                     
safetensors                     
uvicorn        
#open3D is missing, if anything requires it, it needs to be changed

