
#we suppose torch>2 and torchvision are already installed
xformers
ninja
jaxtyping
rich                     
typing_extensions                     
trimesh                     
einops                     
huggingface_hub                     
imageio                     
xformer                     
fastapi                     
vicorn                     
requests                     
typer                     
omegaconf                     
e3nn                     
moviepy                     
plyfile                     
safetensors                     
typer                     
uvicorn        
#open3D is missing, if anything requires it, it needs to be changed
